#!/usr/bin/env bash

set -o errexit   # abort on nonzero exitstatus
set -o pipefail  # don't hide errors within pipeset -e

if [ -n "$DEBUG" ]; then
  set -x
fi

tmux start-server

cd {{ config.root }}

# Run project on start hooks
# TODO(tatu): I've yet to use this

if tmux has-session -t "{{ config.name }}" &>/dev/null; then
  # TODO(tatu): Implement 'on_project_restart'. This commands runs in the caller
  # shell before attaching to tmux on each attach after the first.
  echo "Project restart hooks not implemented!"
else
{% for window in config.windows %}
  {% if loop.index == 1 %}
  # XXX(tatu): Why does indentation get fucked here by extra level
  # Reset TMUX so we don't send session commands to some other session
  TMUX= tmux new-session -d -s {{ config.name }} -n {{ window.name }}
  tmux send-keys -t {{ config.name }}:{{ loop.index }} cd\ {{ config.root }} C-m
  {% else %}
  tmux new-window -c {{ config.root }} -t {{ config.name }}:{{ loop.index }} -n {{ window.name }}
  {% endif %}
  {% if window.command %}
  tmux send-keys -t {{ config.name }}:{{ loop.index }} {{ window.command }} C-m
  {% endif %}
{% endfor %}
fi

{% if config.attach  %}
if [ -z "$TMUX" ]; then
  tmux -u attach-session -t {{ config.name }}
else
  tmux -u switch-client -t {{ config.name }}
fi
{% endif %}

