name: "Build projects"
on:
  pull_request:
  push:
jobs:
  builds:
    strategy:
      matrix:
        project: [pipemixer, fallout-save-editor]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix build
      working-directory: ${{ matrix.project }}
